{% extends "base.html" %}

{% block content %}
    <h1>Url's</h1>
    <table>
    {% for url in object_list %}
        <tr>
            <td><a data-toggle="tooltip" data-placement="top" title="{{ url.desination }}" href="{% url 'redirector' url.short_url %}">{{ url.full_short_url }}</a></td>
            <span style="display: none">{{ url.desination }}</span>
            <td>{{ url.user }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>

